@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP',
    sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Container 1 */

.container1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.background-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -20;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
}

/* Header */

header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 70px 150px;
    z-index: 10;
}

header ul {
    display: flex;
}

header ul li {
    list-style-type: none;
    padding: 10px 40px;
}

.btn-navbar:hover {
    color: #ee5454;
}

.btn-general{
    background-color: #ee5454;
    border-radius: 100px;
}

.btn {
    margin-left: 40px;
}

.btn:hover {
    transform: scaleY(0.97) scaleX(0.97);
    transition: 0.2s;
}

/* Showcase */

.showcase {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcase h1 {
    font-weight: 800;
    font-size: 3em;
    padding: 40px;
    text-align: center;
}

.showcase input {
    border: none;
    border-radius: 50px;
    background-color: #fff;
    width: 800px;
    height: 50px;
    padding-left: 20px;
}

.showcase p {
    padding: 10px;
    font-weight: 500;
}

/* Container 2 */

.container2 {
    width: 100%;
    height: 100%;
    padding: 2% 11%;
}

.photo-album {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.collage-text {
    padding: 10px 0 20px;
}

.photo-column1,
.photo-column2,
.photo-column3  {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.photo-column1 img,
.photo-column2 img,
.photo-column3 img {
    padding: 10px;
}

.photo-column1 img:hover,
.photo-column2 img:hover,
.photo-column3 img:hover {
    transform: scaleX(0.95) scaleY(0.95);
    transition: 0.5s;
    cursor: pointer;
}

/* Container 3 */

.container3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.btn2 {
    margin-top: 100px;
    padding: 12px 100px;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    padding: 100px 0 50px;
}

.partner-images img {
    margin: 10px;
    width: 300px;
    height: auto;
}

.partner-logos:hover {
    transform: translateY(-15px);
    transition: 0.5s;
}

.container3 p {
    padding: 0 8%;
    text-align: justify;
}

.copy-text {
    background-color: #e4e4e4;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.copy-text p {
    padding: 40px 0 30px;
}

/* Media */

@media(max-width: 1220px) {
        /* Container 2 */
        .container2 h2 {
            text-align: center;
        }

        .photo-column1,
        .photo-column2,
        .photo-column3 {
            width: 300px;
        }
}

@media(max-width: 1000px) {
    /* Header */
    .logo {
        transform: scale(0.6);
    }

    header {
        padding: 40px 30px;
    }

    header ul li {
        list-style-type: none;
        padding: 8px 20px;
    }

    /* Container 2 */
    .container2 h2 {
        text-align: center;
    }

    .photo-column1,
    .photo-column2,
    .photo-column3 {
        width: 250px;
    }

    .showcase input {
        width: 600px;
    }
}

@media(max-width: 798px) {
    /* Header */
    .logo {
        transform: scale(0.8);
    }
    header {
        padding: 40px 50px;
    }

    header ul li {
        list-style-type: none;
        padding: 8px 20px;
    }

    /* Showcase */

    .showcase h1 {
        font-weight: 800;
        font-size: 2.5em;
        padding: 20px;
    }

    .showcase input {
        width: 600px;
    }

    /* Container 2 */
    .container2 h2 {
        text-align: center;
    }

    .photo-album {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }


    .photo-column1,
    .photo-column2,
    .photo-column3 {
        width: 500px;
    }

}

@media(max-width: 620px) {
    .container1 {
        height: 60vh;
    }
    .background-image {
        height: 60%;
    }
    .overlay {
        height: 60%;
    }
    /* Header */
    .logo {
        transform: scale(0.5);
    }

    header {
        padding: 10px 50px;
        flex-direction: column;
    }

    header ul li {
        list-style-type: none;
        padding: 8px 10px;
    }

    /* Showcase */
    .showcase {
        padding-top: 100px;
    }
    .showcase h1 {
        font-weight: 600;
        font-size: 1.8em;
        padding: 17px;
    }

    .showcase input {
        width: 300px;
    }

    .showcase p {
        padding: 30px 20px;
        text-align: center;
    }

    /* Container 2 */
    .container2 h2 {
        text-align: center;
    }

    .photo-album {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }


    .photo-column1,
    .photo-column2,
    .photo-column3 {
        width: 300px;
    }
}